<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

    {%  include 'partial/head.twig' %}
	
    <body>
        {%  block beforecontent %}
	    {%  endblock %}
        {%  block content %}
        {%  endblock %}

           {#

           {% if staticCall("DevMode","devMode") %}
                {% include "partials/devbarre.twig" %}
           {% endif %}

           #}


        {%  if pStepDevHelper is defined %}
            {%  include "partial/devbarre.twig" %}
        {% endif %}

    </body>
</html>
